.header {
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 50%;
    padding: 25px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
      transition: transform 1s ease-in-out;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
    }
    .option:hover {
      cursor: pointer;
      color: blue;
      text-decoration: underline;
    }
  }

  .logo {
    float: left;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .logo-container {
    width: 100%;
    margin: auto;
  }
  .options {
    width: 100%;
    margin: auto;
  }
  .header {
    
    display: inline;
    text-align: center;
  }
}
